.main{
    &__item-img{
        @include background-img;
        background-image: url('../img/phone/title-img.png');
        min-width: 270px;
        min-height: 150px;
        // margin-top: 23px;
        @include tablet{
            background-image: url('../img/Tablet/title-img-tablet.png');
            min-height: 368px;
        }
        @include desktop{
            background-image: url('../img/Desktop/title-img-desktop.png');
            min-height: 550px;
        }
    } 
    &__post-title-text{
        @include style-main-title-text;
        color: $color-text-title;
        margin-bottom: 13px;
    }
}
.section-post{
    margin-top: 38px;
    &__info{
        margin-top: 23px;
        margin-bottom: 77px;
        @include tablet{
            margin-bottom: 60px;
           }
        @include desktop{
          @include flex-container;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-bottom: 69px;
        }
    }
    &__block{
        margin-bottom: 30px;
        @include tablet{
         @include flex-container;
         align-items: flex-start;
         max-width: 555px;
         gap: 20px;
        }
    }
    &__img{
        max-width: 160px;
        max-height: 140px;
    }
    &__under-title-text{
        font-weight: bold;
        font-size: 14px;
        line-height: 30px;
        color: $color-text-title;
    }
    &__block-crumbs{
        display: flex;
    }
    &__bread-crumbs{
        font-size: 11px;
        line-height: 20px;
        color: $color-text-bread-crumbs;
    }
    &__text-under-bread-crumbs{
        font-size: 13px;
        line-height: 26px;
        color: #5C5C5C;
        display: none;
        margin-top: 13px;
        @include tablet{
        display: block;
        }
    }
    &__block:last-child{
        display: none;
        @include tablet{
            @include flex-container;
            align-items: flex-start;
        }
    }
}
.section-instagram{
    @include tablet{
        padding-top: 47px;
        padding-bottom: 50px;
        background-color: rgba(0, 0, 0, 0.03);
    }
    
    &__img{
        max-height: 250px;
        max-width: 250px !important;
        margin-right: 10px;
        @include tablet{
            max-height: 200px;
            max-width: 195px !important; 
        }
        @include desktop{
            max-height: 285px;
            max-width: 285px !important;
        }
    }
    &__title-text{
        @include tablet{
            font-size: 13px;
        }
        @include desktop{
            font-size: 16px;
        }
    }
    &__container-text{
        @include tablet{
            @include flex-container;
            justify-content: space-between;
            margin-bottom: 15px;
        }
    }
    .text-instagram-tablet{
        display: none;
        @include tablet{
            display: block;
        }
    }
    .text-instagram-desktop{
        display: none;
        @include desktop{
            display: block;
        }
    }
    &__container-img{
        display: none;
        @include desktop{
            @include flex-container;
        }
    }
    &__none-desktop{
        @include desktop{
            display: none;
        }
    }
    &__none-tablet{
        @include tablet{
            display: none;
        }
        @include desktop{
            display: block;
        }
    }
}