.footer{
    margin-top: 42px;
    @include tablet{
        margin-top: 0px;
    }
    &__section{
        text-align: center;
    }
    background-color: black;
    &__title-text{
        @include style-main-title-text;
        color: white;
        padding-top: 38px;
        @include tablet{
            padding-top: 57px;
        }
    }
    &__under-text{
        font-size: 12px;
        line-height: 20px;
        color: $color-footer-text;
        width: 90%;
        margin: 0 auto;
        @include tablet{
            font-size: 16px;
            line-height: 28px;
            padding-top: 22px;
            width: 83%;
        }
        @include desktop{
            width: 650px;
        }
    }
    &__link{
        @include flex-container;
        margin-top: 26px;
    }
    &__last-text{
        font-size: 12px;
        line-height: 20px;
        color: $color-footer-text;
        width: 52%;
        margin: 0 auto;
        margin-top: 25px;
    }
    &__under-text-tablet{
        display: none;
        @include tablet{
            color: $color-footer-text;
            display: inline-block;
        }
    }
}