@mixin background-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@mixin style-main-title-text {
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
}
@mixin flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin desktop {
    @media (min-width: #{$desktop-width}){
        @content
    };
}
@mixin tablet {
    @media (min-width: #{$tablet-width}){
        @content
    };
    
}
@mixin  phone {
    @media (max-width: #{$tablet-width}) {
        @content
    };   
}

