@import "reset";
@import "mixins";
@import "variables";
@import "components/allComponents.scss";
.container{
    max-width: 1170px;
    margin: 0 auto;
    &__indentation{
        padding: 0px 25px; 
        @include tablet {
            max-width: 608px;
            padding: 0px;
            overflow: hidden;
            margin: 0 auto;
            }
        @include desktop{
            max-width: 1170px; 
            margin: 0 auto;
        }
    }  
}