<footer class="footer">
    <section class="footer__section container">
        <h2 class="footer__title-text">- get in touch with us -</h2>
        <p class="footer__under-text">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed
            donec malesuada ullamcorper odio.<span class="footer__under-text-tablet">Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</span></p>
        <ul class="footer__link">
            <li><a href="#"><img src="./img/social-networks/Wi-fi.png" alt="Wi-fi-icon"></a></li>
            <li><a href="#"><img src="./img/social-networks/Facebook.png" alt="Facebook-icon"></a></li>
            <li><a href="#"><img src="./img/social-networks/Twitter.png" alt="Twitter-icon"></a></li>
            <li><a href="#"><img src="./img/social-networks/Dribbble.png" alt="Dribbble-icon"></a></li>
            <li><a href="#"><img src="./img/social-networks/Pinterest.png" alt="Pinterest-icon"></a></li>
        </ul>
        <p class="footer__last-text"> Moonshine St. 14-05 Light City / T. +00 (123) 456 78 90 / first.last@email.com</p>
    </section>
</footer>