<header class="header">
<div>
    <nav>
        <ul class="header__navigation">
            <li><a class="header__nagigation-text" href="#">Home</a></li>
            <li><a class="header__nagigation-text" href="#">About Us</a></li>
            <li><a class="header__nagigation-text" href="#">Our Journal</a></li>
            <li><a class="header__nagigation-text" href="#">Projects</a></li>
            <li><a class="header__nagigation-text" href="#">news</a></li>
            <li><a class="header__nagigation-text" href="#">features</a></li>
            <li><a class="header__nagigation-text" href="#">contact</a></li>
        </ul>
    </nav>
</div>
<div class="header__menu-burger">
<div class="header__block">
<div class="header__block-burger header__block-burger-active">
    <span class="header__button-burger header__button-burger-active"></span>
</div>
</div>
<nav class="header__menu header__menu-active">
     <ul class="menu__list">
        <li><a class="header__nagigation-text" href="#">Home</a></li>
        <li><a class="header__nagigation-text" href="#">about us</a></li>
        <li><a class="header__nagigation-text" href="#">our journal</a></li>
        <li><a class="header__nagigation-text" href="#">projects</a></li>
        <li><a class="header__nagigation-text" href="#">news</a></li>
        <li><a class="header__nagigation-text" href="#">features</a></li>
        <li><a class="header__nagigation-text" href="#">contact</a></li>
     </ul>
</nav>
</div>

</header>