<main class="main">
    <div class="container container__indentation">
    <div class="main__item-img"></div>
    <section class="section-post">
        <h2 class="main__post-title-text">- our Recent posts</h2>
        <div class="section-post__info">
            <div class="section-post__block">
                <img class="section-post__img" src="./img/phone/post-img 1.png" alt="img-kettle">
                <div>
                <h4 class="section-post__under-title-text">Aenean Adipiscing Etiam Vestibulum</h4>
                <ul class="section-post__block-crumbs">
                    <li><a class="section-post__bread-crumbs" href="#">Photography, Journal / </a></li>
                    <li><a class="section-post__bread-crumbs" href="#"> 9 Comments</a></li>
                </ul>
                <p class="section-post__text-under-bread-crumbs">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
            </div>
            <div class="section-post__block">
                <img class="section-post__img" src="./img/phone/post-img 2.png" alt="img-life">
                <div>
                <h4 class="section-post__under-title-text">Aenean Adipiscing Etiam Vestibulum</h4>
                <ul class="section-post__block-crumbs">
                    <li><a class="section-post__bread-crumbs" href="#">Photography, Journal / </a></li>
                    <li><a class="section-post__bread-crumbs" href="#"> 9 Comments</a></li>
                </ul>
                <p class="section-post__text-under-bread-crumbs">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
            </div>
            <div class="section-post__block">
                <img class="section-post__img" src="./img/phone/post-img 3.png" alt="img-table">
                <div>
                <h4 class="section-post__under-title-text">Aenean Adipiscing Etiam Vestibulum</h4>
                <ul class="section-post__block-crumbs">
                    <li><a class="section-post__bread-crumbs" href="#">Photography, Journal / </a></li>
                    <li><a class="section-post__bread-crumbs" href="#"> 9 Comments</a></li>
                </ul>
                <p class="section-post__text-under-bread-crumbs">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
            </div>
            <div class="section-post__block">
                <img class="section-post__img" src="./img/Tablet/post-img 4.png" alt="img-flowers">
                <div>
                <h4 class="section-post__under-title-text">Aenean Adipiscing Etiam Vestibulum</h4>
                <ul class="section-post__block-crumbs">
                    <li><a class="section-post__bread-crumbs" href="#">Photography, Journal / </a></li>
                    <li><a class="section-post__bread-crumbs" href="#"> 9 Comments</a></li>
                </ul>
                <p class="section-post__text-under-bread-crumbs">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
            </div>
        </div>
    </section>
</div>
    <section class="section-instagram">
        <div class="container container__indentation section-instagram__none-desktop">
        <div class="section-instagram__container-text">
        <h2 class="main__post-title-text section-instagram__title-text">- Last Instagram Shot</h2>
        <h2 class="main__post-title-text section-instagram__title-text text-instagram-tablet">go to our instagram page -</h2>
    </div>
        <div class="slider-container swiper-container">
        <div class="swiper-wrapper">
            <img class="section-instagram__img swiper-slide" src="./img/slider/bike-img.png" alt="bike">
            <img class="section-instagram__img swiper-slide" src="./img/slider/post-instagram-2.png" alt="doorhandle">
            <img class="section-instagram__img swiper-slide" src="./img/slider/post-instagram-3.png" alt="wires">
            <img class="section-instagram__img swiper-slide" src="./img/slider/post-instagram-4.png" alt="car">
        </div>
    </div>
</div>
<div class="container container__indentation section-instagram__none-tablet">
    <div class="section-instagram__container-text">
    <h2 class="main__post-title-text section-instagram__title-text text-instagram-desktop">- Last Instagram Shot</h2>
    <h2 class="main__post-title-text section-instagram__title-text text-instagram-tablet">go to our instagram page -</h2>
</div>
    <div class="slider-container">
    <div class="section-instagram__container-img">
        <img class="section-instagram__img" src="./img/slider/bike-img.png" alt="bike">
        <img class="section-instagram__img" src="./img/slider/post-instagram-2.png" alt="doorhandle">
        <img class="section-instagram__img" src="./img/slider/post-instagram-3.png" alt="wires">
        <img class="section-instagram__img" src="./img/slider/post-instagram-4.png" alt="car">
    </div>
</div>
</div>
    </section>
</main>