.header{
    padding-top: 23px;
    @include tablet{
        padding-top: 41px;
    }
    &__menu-burger{
        display: flex;
        justify-content: right;
    }
   
    &__menu{
        position: absolute;
        top: 60px;
        right:24px;
        width: 150px;
        height: 178px;
        transform: translate(0px,0px);
        transition: all 0.3s ease 0s;
        z-index: 0;
    }
    &__menu-active{
        transform: translate(0px,-600px);
    }
    &__block{
        width: 44px;
        height: 37px;
        background-color: black;
        margin-bottom: 23px;
        @include tablet{
            display: none;
        }
    }
    &__block-burger{ 
        @include phone{
            z-index: 5;
            display: block;
            position: relative;
            cursor: pointer;
            margin-bottom: 23px;
            width: 17px;
            height: 10px;
        }
    }
    &__button-burger,
    &__block-burger::before,
    &__block-burger::after{
        left: 77%;
        top: 18px;
        position: absolute;
        height: 20%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }
    
    &__block-burger::before,
    &__block-burger::after{
        content: "";
    }
    &__block-burger::before{
        top: 18px;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    &__block-burger-active::before{
        top: 22px;
        transform: rotate(0) translate(0px, 0px);
    }
    &__block-burger::after{
        bottom: 16px;
        transform: rotate(45deg) translate(0px, -40%);
    }
    &__block-burger-active::after{
        top: 18px;
        transform: rotate(0) translate(0px, 0px);
    }
    &__button-burger{
        top: 14px;
        transform: scale(0) translate(0px,-50%);
    }
    &__button-burger-active{
        transform: scale(1) translate(0px, -50%);
    }
    &__navigation{
        gap: 34px;
        margin-bottom: 43px;
        display: none;
        @include tablet{
            @include flex-container;
        }
        @include desktop{
            gap: 68px;
            margin-bottom: 51px;
        }
    }
    &__nagigation-text{
        font-size: 10px;
        line-height: 22px;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        color: $color-text-title;
        transition: 500ms;
    }

    &__nagigation-text:hover{
        color:#57A4A4;
    }
   .menu__list li{
     padding:4px 13px;
     background-color: #F5F5F5;
     transition: 500ms;
   }
   .menu__list li:hover &__nagigation-text{
    color:#57A4A4;
   }
   .menu__list li:hover{
    background-color: #E5E5E5;
   }
   
}